/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background-image: url('C:/PERNIX WORKSPACE/Pernix-Online-Locker/client/public/pVault.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}
.user-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  width: 70%; 
}
form.create {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  width: 70%; 
 
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
.create-profile-button {
  background: linear-gradient(45deg, #6a11cb, #2575fc); 
  border: none;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.create-profile-button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2);
}
.create-profile-button:active {
  transform: translateY(1px);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

form button {
  background: linear-gradient(45deg, #6a11cb, #2575fc); 
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error)
}
.user-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 10px;
}
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}