<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Catch All" stopProcessing="true">
          <match url="/*" />
          <action type="Rewrite" url="server/server.js" />
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <add name="iisnode" path="server/server.js" verb="*" modules="iisnode" />
    </handlers>
  </system.webServer>
</configuration>
